html, body, .content {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.content {
    position: absolute;
    font-family: monospace;
    box-sizing: border-box;
}

.submit {
    position: fixed;
    right: 0;
    top: 0;
    width: 10%;
    background: #000;
    color: #fff;
}
